@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

html, body {
	margin: 0;
	padding: 0;
}

header {
	height: 130px;
}

h2
{
	font-family: "open sans condensed", sans-serif;
	font-weight: bolder;
	font-size: 1.2em;
	text-transform: uppercase;
}

h1 {
    font-family: "open sans condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color:#9b8977;
    font-size: 32px;
    }

h2 {
    font-family: "open sans condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;}
p,span {
    font-family: 'PT sans', Helvetica, arial, sans-serif;}
.button {
    font-family: 'open sans condensed', sans-serif;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: lowercase;}

h3{
	font-family: "open sans condensed", sans-serif;
	font-size: 1em;
}

nav ul{
	margin: 0 auto 20px auto;
	padding: 0;
	position: static;
}

nav ul li{
	font-family: "open sans condensed", sans-serif;
	font-weight: bolder;
	font-size: 1.2em;
	list-style: none;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
}

nav ul li a{
	text-decoration: none;
	color: #000;
}


nav ul li:nth-child(2) a{
	height: 140px;
	display: block;
}

nav ul li img{
	height:95px;
}

nav ul li:nth-child(2){
	margin: 0 auto;
	display: block;
	width:140px;
}

nav ul li:nth-child(odd){
	top: 60px;
	position: absolute;
}

nav ul li:first-child{
left: 15%;
}

nav ul li:last-child{
right: 15%;
}

/*================ETUDIANT====================*/

#bandeau-etudiant{
	width: 100%;
	background-color: #ebebeb;
	min-height: 250px;
	height:auto;
	padding:25px 0;
}


#bandeau-etudiant > div a img{
	width: 15px;
	display: inline-block;
}

#bandeau-etudiant > div a:first-child img{
	transform: rotate(-45deg);
	margin-left: 7px;
	margin-top: 7.5px;
	}

#bandeau-etudiant > div a:last-child img{
	transform: rotate(135deg);
	margin-left: 12px;
	margin-bottom: -9px;
	}

#bandeau-etudiant > div > a{
	width: 35px;
	height: 35px;
	background: #f9a11b;
	transform: rotate(45deg);
	left: 30px;
	box-sizing:border-box;
}

#bandeau-etudiant > div > a:first-child{
	float: left;
	clear: both;
	top: 110px;
	position: relative;
}

#bandeau-etudiant > div > a:last-child{
	
	float: right;
	top: -145px;
	left: -31px;
	clear: both;
	position: relative;
}

#bandeau-etudiant #content-bandeau{
	width: 900px;
	min-height: 250px;
	height:auto;
	margin: 0 auto;
}

#bandeau-etudiant #etudiant{
	width: 700px;
	min-height: 250px;
	height:auto;
	margin: 0 auto;
	display: block;
	background-color: #fff;
}

#bandeau-etudiant #etudiant div:last-child{
	width: 450px;
	/*display: inline-block;*/
	float: left;
	box-sizing: border-box;
	min-height: 250px;
	height:auto;
	padding-left: 30px;
}

#bandeau-etudiant #etudiant a{
	background: #f9a11b;
    display: block;
    line-height: 40px;
    width : 180px;
    height: 40px;
    text-align: center;
    position: relative;
    bottom: -20px;
    clear: both;
    text-decoration: none;
    color: #FFF;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Open Sans Condensed",sans-serif;
}

#photo{
	width: 250px;
	height: 250px;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	position: relative;
	background-color: #EBEBEB;
}

#photo img{
	width: 250px;
}

/*===================FICHE==================*/
#fiche{
	width: 70%;
	margin: 0 auto 40px auto;
}

.bouton-orange {
    background: #f9a11b;
    display: block;
    line-height: 40px;
    width: 180px;
    height: 40px;
    text-align: center;
    clear: both;
    text-decoration: none;
    color: #FFF;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.bouton-orange:hover {
	background: #F19100;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/*===================FOOTER==================*/

footer {
  background-color: #ebebeb;
  clear: both;
  padding: 10px;
}

#footer_mwe {
  text-align: center;
}

footer p {
  font-family: 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
  display: inline-block;
}

footer a {
  text-decoration: none;
  color: #7598A0;
}

footer a:hover {
  color:#8FB2BA;
}

footer ul {
  list-style-type: none;
  display: inline-block;
  position: relative;
}

footer ul li {
  display: inline-block;
  margin-left: 5px;
}

footer ul li img {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

footer ul li img:hover {
  opacity: 0.5;
}


/*================Queries===============*/

@media screen and (max-width: 912px){

#bandeau-etudiant > div > a:first-child {
	float: none;
	margin:0 auto;
	display: block;
	top:0px;left:0;
}

#bandeau-etudiant > div > a:last-child {
	float: none;
	margin:0 auto;
	display: block;
	top:0;left:0;
}

#bandeau-etudiant #content-bandeau{width: 100%;}
}

@media screen and (max-width: 700px){
	#bandeau-etudiant > div > a:first-child img {
		margin-left: -7px;
	}

	#bandeau-etudiant > div > a:last-child img {
		margin-left: 5px;
	}

	#fiche{width: 80%;}

	nav ul li:nth-child(odd){
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}

	nav ul{
		height: 250px;
	}

	nav ul li:first-child{
		top: 160px;
		left: 0;
	}

	nav ul li:last-child{
		right: 0;
		top:210px;
	}

	#header {
		height: auto;
	}
}

#bandeau-etudiant a {
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

#bandeau-etudiant a:hover {
	opacity: 0.8;
}
@media all and (max-width:700px) {
	#photo{
	position: none;margin:0 auto;}
	#photo img{text-align:center;}
	#bandeau-etudiant #etudiant{
	width: 100%;padding-bottom:20px;padding-top:20px;}
	#bandeau-etudiant #etudiant div:last-child {clear: both;float:none;text-align:center;width:100%;padding: 20px;}
	#bandeau-etudiant #etudiant div:last-child a {margin:0 auto;}
	#bandeau-etudiant {text-align:center;}
	#photo {width: 100%;background-color: #FFF;}
}